.welcome-admin {
  padding: 3rem;
  display: flex;
  justify-content: right;
}
.welcome-client {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-admin {
  width: 5rem;
  padding: 0.2rem;
}
.btn-admin:hover {
  padding: 0.1rem;
}

.content {
  max-width: 60%;
  padding: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  border-radius: 0.5rem;
  box-shadow: 0 0 2px 1px black;
}

.content h1 {
  text-align: left;
}
.btn-welcome {
  padding: 1.5rem 3rem;
  font-size: 5rem;
  font-weight: 600;
  color: white;
  background-color: crimson;
  border-radius: 0.5rem;
}

.btn-welcome:hover {
  background-color: rgb(221, 38, 75);
  box-shadow: 0 0 2px 1px black;
}

.form-area {
  flex: 1;
  margin-top: 4rem;
  display: flex;
  justify-content: space-around;
}

.form-image-box {
  max-height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-image-box img {
  border-radius: 5px;
  box-shadow: 0 0 20px 10px gray;
}

.form-visitor-box {
  flex: 1;
}

.form-texts p {
  text-align: right;
  font-size: 2.5rem;
  line-height: 1.4;
}

#visitorForm {
  margin-top: 2rem;
  padding: 1rem 2rem;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  background-color: steelblue;
  border-radius: 1rem;
}

.form-group {
  padding: 1rem 0;
  display: flex;
  justify-content: space-between;
  gap: 2rem;
}

.form-group label {
  font-size: 3rem;
  color: white;
}

.form-group input {
  min-width: 50ch;
  padding: 0.5rem 1rem;
  font-size: 2rem;
}

.btn-form {
  margin: 1rem 0;
  padding: 1.5rem 3rem;
  font-size: 4.5rem;
  font-weight: 600;
  color: white;
  background-color: crimson;
  border-radius: 0.5rem;
}

.btn-form:hover {
  background-color: rgb(221, 38, 75);
  box-shadow: 0 0 2px 1px white;
}

@media (max-width: 1200px) {
  .content {
    max-width: 100%;
  }
  .form-image-box {
    max-height: 500px;
  }
  .form-group input {
    min-width: 30ch;
  }
}
